<div class="container-fluid p-0 m-0 add-component pieces d-block">
  <form (ngSubmit)="onSubmit()" [formGroup]="PiecesFormGroup" autocomplete="off">

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Designation</mat-label>
      <input matInput placeholder="Entrez le Designation" type="text" name="designation" formControlName="designationCtrl" required>
      <mat-icon *ngIf="piece.etat" matSuffix (click)="toggle(['designationCtrl'])" class=" activate-desactivate-input">edit</mat-icon>
      <mat-error *ngIf="PiecesFormGroup.get('designationCtrl')?.invalid">{{errorsService.getDesignationErrorMessage()}}</mat-error>
    </mat-form-field><br>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Emplacement</mat-label>
      <mat-icon class=" preffix" matPrefix>home_work</mat-icon>
      <input matInput placeholder="Entrez Le emplacement" type="text" name="emplacement" formControlName="emplacementCtrl" required>
      <mat-icon *ngIf="piece.etat" matSuffix (click)="toggle(['emplacementCtrl'])" class=" activate-desactivate-input">edit</mat-icon>
      <mat-error *ngIf="PiecesFormGroup.get('emplacementCtrl')?.invalid">{{errorsService.getEmplacementErrorMessage()}}</mat-error>
    </mat-form-field><br>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>quantité en stock</mat-label>
      <mat-icon matPrefix class="preffix-icon ">123</mat-icon>
      <input type="number" placeholder="Entrez la quantité en stock" name="quantiteStock" matInput formControlName="quantiteStockCtrl" required>
      <mat-icon *ngIf="piece.etat" matSuffix (click)="toggle(['quantiteStockCtrl'])" class=" activate-desactivate-input">edit</mat-icon>
      <mat-error *ngIf="PiecesFormGroup.get('quantiteStockCtrl')?.invalid">{{errorsService.getQuantiteStockErrorMessage(PiecesFormGroup.get('quantiteStockCtrl'),PiecesFormGroup.get('quantiteMinimalCtrl'))}}</mat-error>
    </mat-form-field><br>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>quantité minimal</mat-label>
      <mat-icon matPrefix class="preffix-icon">123</mat-icon>
      <input type="number" placeholder="Entrez la quantité minimal" name="quantiteMinimal" matInput formControlName="quantiteMinimalCtrl" required>
      <mat-icon *ngIf="piece.etat" matSuffix (click)="toggle(['quantiteMinimalCtrl'])" class=" activate-desactivate-input">edit</mat-icon>
      <mat-error *ngIf="PiecesFormGroup.get('quantiteMinimalCtrl')?.invalid">{{errorsService.getQuantiteMinimalErrorMessage(PiecesFormGroup.get('quantiteMinimalCtrl'))}}</mat-error>
    </mat-form-field><br>


    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label> prix de l'unité</mat-label>
      <mat-icon matPrefix class="preffix-icon ">payments</mat-icon>
      <input type="number" placeholder="Entrez le prix de l'unité" name="prixUnitaire" matInput formControlName="prixUnitaireCtrl" required>
      <mat-icon *ngIf="piece.etat" matSuffix (click)="toggle(['prixUnitaireCtrl'])" class=" activate-desactivate-input">edit</mat-icon>
      <mat-error *ngIf="PiecesFormGroup.get('prixUnitaireCtrl')?.invalid">{{errorsService.getprixUnitaireErrorMessage()}}</mat-error>
    </mat-form-field><br>


    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Description</mat-label>
      <mat-icon matPrefix class="preffix-icon ">description</mat-icon>
      <input type="text" placeholder="Entrez la description" name="description" matInput formControlName="descriptionCtrl">
      <mat-icon *ngIf="piece.etat" matSuffix (click)="toggle(['descriptionCtrl'])" class=" activate-desactivate-input">edit</mat-icon>
      <mat-error *ngIf="PiecesFormGroup.get('descriptionCtrl')?.invalid">{{errorsService.getDescriptionErrorMessage()}}</mat-error>
    </mat-form-field><br>
  </form>




  <ng-template>Terminer</ng-template>

  <div class="justify-content-center d-flex">
    <button mat-button (click)="quit()">Annuler</button>
    <button mat-button (click)="resetPiecesFormGroup()">Réinitialiser</button>
    <button mat-button (click)="validateForm()">Confirmer</button>
  </div>
  <div *ngIf="isLoading | async" class="loader-container">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>


</div>

