
<div class="consult preventif">

  <div [class]="hidded ? 'search-box-hidded' : 'search-box-showed'">
    <input type="hidded ? 'hidden' : 'text'" class="search-input" (keyup)="applyFilter($event)">

    <a class="search-button" (click)="hidded=!hidded">
      <i class="fa-solid fa-magnifying-glass"></i>
    </a>
  </div>

  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="preventif" class="mat-elevation-z8 pieces-table" matSort
           (matSortChange)="announceSortChange($event)">  <!--*ngIf="consult_accounts"-->




      <ng-container matColumnDef="equipement">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by equipement"> equipement
        </th>
        <td mat-cell *matCellDef="let element"> {{element.equipement.designation}} </td>
      </ng-container>

      <ng-container matColumnDef="datePrevu">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort datePrevu">
          datePrevu
        </th>
        <td mat-cell *matCellDef="let element"> {{element.datePrevue}}</td>
      </ng-container>


      <ng-container matColumnDef="etat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by etat "> etat</th>

        <div class="row ">

          <div class="col"><span class="title">Etat:</span>
            <td mat-cell *matCellDef="let element">
              <div class="chip"  [ngSwitch]="compare(element)">



                <div *ngSwitchCase="0" class="finished"><span>trop tot</span></div>
                <div *ngSwitchCase="1" class="in-progress"><span>il est temps</span></div>
                <div *ngSwitchCase="2" class="waiting"><span>en retard</span></div>
              </div>
            </td>
          </div>
        </div>


      </ng-container>

      <ng-container matColumnDef="avancement" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by avancment">Avancement</th>
        <td mat-cell *matCellDef="let element"   >
          <div class="row "  >
            <div *ngIf="compare(element)==1">
              <div class="chip" [ngSwitch]="element.avancement">

                <div *ngSwitchCase="0" class="waiting"><span>non traité</span></div>
                <div *ngSwitchCase="1" class="in-progress"><span>en cours</span></div>
                <div *ngSwitchCase="2" class="finished"><span>terminé</span></div>
              </div>
            </div>

            <div *ngIf="compare(element)==2">
              <div class="chip" [ngSwitch]="element.avancement">

                <div *ngSwitchCase="0" class="waiting"><span>non traité</span></div>
                <div *ngSwitchCase="1" class="in-progress"><span>en cours</span></div>
                <div *ngSwitchCase="2" class="finished"><span>terminé</span></div>
              </div>
            </div>
          </div>
        </td>
      </ng-container>




      <ng-container matColumnDef="settings">
        <th mat-header-cell *matHeaderCellDef>

        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="openPrevntifDetailsDialog(element)" matTooltip="Info" matTooltipPosition="right"> <!--*ngIf="accountsGuard.get_account_details"-->
            <mat-icon >info</mat-icon>

          </button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    </table>

    <mat-paginator [pageSize]="7"
                   [hidePageSize]="true"
                   aria-label="selectionner le maximum d'elements d'un page">
    </mat-paginator>

  </div>
</div>
