@import '../../../../../theme.scss';


.chip{
  //border: none;
  margin-left: 10px;
  .waiting,.in-progress,.finished,.active,.inactive,.bas,.moyenne,.eleve,.ot-in-progress,.ot-finished,.inter-half-finished,.inter-finished{
    margin-top: -5px;
    border-radius: 8px;
    font-size: 12px;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'inter',sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }
  .ot-in-progress{
    background-color: map-get($colors,"statutBadge","ot-in-progress","background");
    color: map-get($colors,"statutBadge","ot-in-progress","text");

  }
  .ot-finished{
    background-color: map-get($colors,"statutBadge","ot-finished","background");
    color: map-get($colors,"statutBadge","ot-finished","text");

  }
  .bas,.moyenne,.eleve{
    span{
      margin-left: 5px;
      font-family: 'Inter',sans-serif;
      font-size: 15px;
      font-weight: bolder;
    }
    .mat-icon{
      margin-left: 15px;
    }
  }
  .inter-half-finished{
    background-color: map-get($colors,"statutBadge","inter-half-finished","background");
    color: map-get($colors,"statutBadge","inter-half-finished","text");

  }
  .inter-finished{
    background-color: map-get($colors,"statutBadge","inter-finished","background");
    color: map-get($colors,"statutBadge","inter-finished","text");
  }

}
