<div class="consult locaux">


  <div [class]="hidded ? 'search-box-hidded' : 'search-box-showed'">
    <input type="hidded ? 'hidden' : 'text'" class="search-input" (keyup)="applyFilter($event)">

    <a class="search-button" (click)="hidded=!hidded">
      <i class="fa-solid fa-magnifying-glass"></i>
    </a>
  </div>




  <div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="locaux" class="mat-elevation-z8 accounts-table" matSort (matSortChange)="announceSortChange($event)">



    <ng-container matColumnDef="description" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header="description"> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="parent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="parent"> Parent </th>
      <td mat-cell *matCellDef="let element"> {{element.parent}}</td>
    </ng-container>

    <ng-container matColumnDef="etat-change" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header="etat"></th>
      <td mat-cell *matCellDef="let element" >
        <mat-slide-toggle
          [matTooltip]="element.etat ? 'Desactiver le local':'Activer le local'" matTooltipPosition="right"
          color="primary"
          (change)="openDialog(element)"
          [checked]="element.etat">
        </mat-slide-toggle>
      </td>
    </ng-container>

    <ng-container matColumnDef="settings">
      <th mat-header-cell *matHeaderCellDef>

        <div class="filter">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" matTooltip="Filtrer" matTooltipPosition="right"> <!--*ngIf="accountsGuard.modify_account || accountsGuard.get_account_details"-->
            <mat-icon >filter_alt</mat-icon>

          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item [matMenuTriggerFor]="etat">Etat</button>
          </mat-menu>
          <mat-menu #etat>
            <button mat-menu-item *ngIf="!active" (click)="OtherFilters(true)">Actif</button>
            <button mat-menu-item *ngIf="!blocked" (click)="OtherFilters(false)">Bloqué</button>
            <button mat-menu-item *ngIf="!all" (click)="AllFilter()">All</button>
          </mat-menu>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="openLocalDetailsDialog(element)" matTooltip="Info" matTooltipPosition="right"> <!--*ngIf="accountsGuard.get_account_details"-->
          <mat-icon >info</mat-icon>

        </button>

      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  </table>

  <mat-paginator [pageSize]="7"
                 [hidePageSize]="true"
                 aria-label="selectionner le maximum d'elements d'un page">
  </mat-paginator>
  </div>
  <button mat-button  class="add" (click)="openAddLocalDialog()" *ngIf="this.accessService.local.add">
    <mat-icon >add</mat-icon>
    ajouter Local
  </button>


</div>
